{% extends 'blog/base.html' %}
{% block title %}{{ post.title }}{% endblock %}

{% block content %}
<div class="card">
  <div class="card-body">
    <h2>{{ post.title }}</h2>
    <p class="text-muted">{{ post.created_at }}</p>
    <p>{{ post.content }}</p>

    <a href="{% url 'post_update' post.id %}" class="btn btn-warning btn-sm">Edit</a>
    <a href="{% url 'post_delete' post.id %}" class="btn btn-danger btn-sm">Delete</a>
  </div>
</div>

<a href="{% url 'post_list' %}" class="btn btn-link mt-3">⬅ Back</a>
{% endblock %}
